html[theme] .impressum-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
}

html[theme] .impressum-container h1 {
    margin-top: 5px;
    margin-bottom: 30px;
}

html[theme] .impressum-grid {
    display: grid;
    grid-template-columns: 1fr;  /* Standard: Eine Spalte für mobile Ansicht */
    gap: 20px;
}

html[theme] .impressum-left,
html[theme] .impressum-right {
    text-align: left;
}

/* Ab 768px: Zwei-Spalten-Layout */
@media (min-width: 768px) {
    html[theme] .impressum-container {
        padding: 50px;
    }

    html[theme] .impressum-grid {
        grid-template-columns: 1fr 1fr;
    }
}
