/* IMPORT AUS MAIN.CSS ERFOLGT DORT, DAMIT DIE VARIABLEN VERFÜGBAR SIND */

html[theme] body.contact {
    background-color: var(--bg);
}

html[theme="light"] body.contact {
    background-color: white;
}

html[theme] body.contact main.container {
    width: 100%;
    padding: 0;
    margin-top: 55px;
    background-color: #00000030;
    max-width: 900px;
}

html[theme="light"] body.contact main.container {
    background-color: #6e2929 !important;
}

html[theme] body.contact section {
    margin: 0px auto;
}
 
html[theme] .contact-section {
    padding: 20px 20px;
    max-width: 900px;
}

html[theme] .contact-section h2 {
    margin-top: 20px;
}

html[theme] .contact-section p {
    margin-top: 15px;
}

html[theme] body.contact main section * {
    margin-bottom: 0;
}

html[theme] body.contact .map-container {
    margin-top: 10px;
}

html[theme] .form-group {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: left;
}

html[theme] .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

html[theme] .form-group input,
html[theme] .form-group select,
html[theme] .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--bg2);
    color: var(--text-color);
}

html[theme] .form-group textarea {
    resize: none;
}

html[theme] .btn-primary {
    background-color: var(--accent);
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

html[theme] .btn-primary:hover {
    background-color: var(--accent-dark);
}


/* MEDIA QUERY: Anpassungen für größere Screens */
@media (min-width: 768px) {
    html[theme] body.contact main.container {
        padding: 0px;
    }    

}
