/* IMPORT AUS MAIN.CSS ERFOLGT DORT, DAMIT DIE VARIABLEN VERFÜGBAR SIND */

/* Hauptcontainer mit max-width */
html[theme] body.contact {
    background-color: var(--bg);
}

html[theme="light"] body.contact {
    background-color: white;
}

html[theme] body.contact main.container {
    width: 100%;
    padding: 0;
    margin-top: 55px;
    background-color: #00000020;
    max-width: 900px;
}

html[theme="light"] body.contact main.container {
    background-color: #d8d8d8;

}

html[theme] body.contact section {
    margin: 0px auto;
}
 
html[theme] .contact-section {
    padding: 20px 20px;
    max-width: 900px;
}

html[theme] .contact-section h2 {
    margin-top: 20px;

}

html[theme] body.contact main section * {
    margin-bottom: 0;
}

html[theme] body.contact .map-container {
    margin-top: 10px;
}

/* MEDIA QUERY: Anpassungen für größere Screens */
@media (min-width: 768px) {
    html[theme] body.contact main.container {
        padding: 0px;
    }    

}
