/* 
INFO: 
Bootstrap is used here -> in order to overwrite, use: 
    <selector>[theme]           for elements in all themes, 
    <selector>[theme="dark"]    for elements only in dark mode,
    <selector>[theme=light"]    for elements only in light mode
*/

/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700');


/* 01 General Parameters ------------------------------------- */
html[theme="dark"] {
    --text: #ecf0f1;
    --accent: #e67e22;
    --title: #ecf0f1;   /*or: 1abc9c*/
    --link: #48C9B0;
    --bg: #2c3e50;
    --bg2: #415065;     /* still old one*/

    --nav-bg: #2c3e50; 
    
    --link-text-hover: #48C9B0; 
    --link-bg-hover: #00000000; 
    
    --act-bg: #1abc9c;  
    --act-text: #000000; 
    --act-border: #1abc9c;
    
    --act-bg-hover: #000000;  
    --act-text-hover: #1abc9c; 
    --act-border-hover: #1abc9c;
    
    --dis-text: #889E9C; 
    --dis-bg: #A4B7B6; 
    --dis-border: #A4B7B6;

}

html[theme="light"] {
	--text: #2b2b2b;    /*or: 2c3e50*/
	--accent: #c2881d;  /*or: e67e22*/
	--title: #315a59;   /*or: 1abc9c*/
	--link: #1b816c;    /*or: 48C9B0*/
    --bg: #d8d8d8;      /*or: ecf0f1*/
    --bg2: #d8d8d8;     /* still old */

    --nav-bg: #2E3B4E;  /*or: 2c3e50*/

    --link-text-hover: #1f917a;  /*or: 1abc9c */
    --link-bg-hover: #00000000; 
    
    --act-bg: #1f917a;      /*or: 1abc9c */
    --act-text: #000000;    /*or: 000000 */
    --act-border: #1f917a;  /*or: 1abc9c */
    
    --act-bg-hover: #000000;       
    --act-text-hover: #48C9B0;      /*or: 1abc9c */
    --act-border-hover: #48C9B0;    /*or: 1abc9c */
    
    --dis-text: #889E9C;  
    --dis-bg: #A4B7B6;  
    --dis-border: #A4B7B6; 
}


/* 01 Generic STYLES that apply for all html pages --------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    color: var(--text);
    
}

html[theme] body {
    background-color: var(--bg);
}

html[theme] h1,
html[theme] h2,
html[theme] h3,
html[theme] h4,
html[theme] h5,
html[theme] h6 {
    color: var(--title);
    text-shadow: 1px 2px 5px rgb(0, 0, 0);;
}


/* 02 General classes for all pages ------------------------------------------ */

html[theme] .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--bs-text-color);
}

/* 🔵 Main Sections */
html[theme] main section {
    max-width: 800px;
    margin: 0 auto;
}

/* 🔴 Footer */
html[theme] .footer a {
    color: var(--bs-text-color);
    text-decoration: none;
}

html[theme] .footer a:hover {
    text-decoration: underline;
}

/* 🟣 Buttons */
html[theme] .btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

html[theme] .btn-primary:hover {
    background-color: darken(var(--bs-primary), 10%);
}

